.ant-input.customInput {
  padding: 16px 12px 4px 11px;
}

/* // .ant-select.customInput .ant-select-selector {
//   padding: 16px 10px 4px 11px;
// } */

.ant-select-single:not(.ant-select-customize-input).customInput
  .ant-select-selector {
  height: 48px;
  padding: 16px 10px 4px 11px;
}

.ant-select-single.customInput
  .ant-select-selector
  .ant-select-selection-search {
  top: 16px;
}

.submit {
  margin-bottom: 0px;
}
